* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ebee;
}

header {
    background-color: #00429a;
    border-bottom: 2px solid #aeaeae;
    padding: 40px;
    font-size: 1.8em;
    color: #fff;
}

header h1, header h2, article h3 {
    font-weight: 500;
    font-family: 'Luckiest Guy', cursive;
}

main {
    margin: 20px;
}

ul {
    padding-left: 40px;
}

article {
    border: 1px solid #dddfe2;;
    border-radius: 5px;
    overflow: hidden;
    background: white;
}

article h3 {
    padding: 15px 20px 10px 20px;
    background: #f5f6f7;
    border-bottom: 1px solid #e9ebee;
}

.article-body {
    padding: 20px;

}

/* */